@font-face {
  font-family: "Source Sans 3 Variable";
  font-style: normal;
  font-weight: 200 900;
  src: url("/vendor/adobe-source-sans/WOFF2/VF/SourceSans3VF-Upright.ttf.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Source Sans 3 Variable";
  font-style: italic;
  font-weight: 200 900;
  src: url("/vendor/adobe-source-sans/WOFF2/VF/SourceSans3VF-Italic.ttf.woff2")
    format("woff2-variations");
}
