@import url("/node_modules/modern-normalize/modern-normalize.css");
@import url("./fonts.css");

:root {
  --color-text: oklch(15% 0% 230deg);
  --color-background: oklch(95% 4% 80deg);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: oklch(95% 0% 80deg);
    --color-background: oklch(15% 4% 230deg);
  }
}

@media print {
  :root {
    --color-text: black;
    --color-background: transparent;
  }
}

html {
  font-family: "Source Sans 3 Variable", sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;

  > :is(header, main, footer) {
    width: 100%;
    max-width: 40rem;
  }

  > main {
    flex-grow: 1;
  }

  > footer {
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 0.875em;
  opacity: 0.75;
}
