@use "./source-sans.scss";

// global utils

*,
::before,
::after {
  box-sizing: border-box;
}

// theme

:root {
  --color-text: #001e26; //       Okhsv(220°, 100%,  15%)
  --color-text-link: #007994; //  Okhsv(220°, 100%,  60%)
  --color-background: #fff8ee; // Okhsv( 80°,   5%, 100%)

  @media screen and (prefers-color-scheme: dark) {
    --color-text: #e3d7c5; //       Okhsv( 80°, 10%, 90%)
    --color-text-link: #e3b35f; //  Okhsv( 80°, 60%, 90%)
    --color-background: #0c1518; // Okhsv(220°, 30%, 10%)
  }

  @media print {
    --color-text: black;
    --color-text-link: var(--color-text);
    --color-background: transparent;
  }
}

// root style

html {
  font-family: source-sans.$family-name, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  margin: 0;
}

// page layout

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;

  > :is(header, main, footer) {
    width: 100%;
    max-width: 40rem;
  }

  > main {
    flex-grow: 1;
  }

  > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875em;
    opacity: 0.75;
  }
}

// block elements

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  margin-bottom: 1rem;
}

// lists

:is(ul, ol).horizontal-list {
  display: flex;
  padding: 0;

  > li {
    list-style-position: inside;

    &:first-child {
      list-style-type: none;
    }

    &:not(:first-child)::marker {
      content: "\2007•\2007";
    }
  }
}

// links

a {
  color: var(--color-text-link);
  text-decoration: underline;
  text-underline-offset: 0.15rem;

  &:hover {
    text-decoration: none;
  }
}
